@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  height: 34px;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}

.search-targets-btn {
	background-color: #d0cfcf;
	border-color: #aaa;
}

.search-btn {
	border-color: #aaa;
	border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
	width: 60px;
}

.search-icon {
	width: 30px;
	height: 18px;
}

.players-list {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  min-width: 6em;
}

.omm-column {
  padding-left: 10px;
  padding-right: 10px;
}

.omm-column .col-md-2,
.omm-column .col-md-3,
.omm-column .col-md-9, 
.omm-column .col-md-12 {
  padding: 5px;
}

.controls-table {
  margin-top: 7px;
}

.result-table .table {
  margin-top: 5px;
  margin-bottom: 0px;
}

.result-table td.color {
  width: 4em;
}

.result-table .players {
  min-width: 12em;
}

.result-table .rank {
  min-width: 4.2em;
}

.result-table .score-if,
.result-table .rank-if,
{
  min-width: 6.5em;
}

.result-table a:focus,
{
  outline: none;
}

.logo.navbar-brand {
  color: #e78b14;
  font-family: impact;
  font-size: 1.7em;
}

.navbar {
  border-radius: initial;
}

.navbar-inverse .navbar-nav {
  color: white;
}

.controls-table .table-responsive {
  height: 600px;
}

.dropdown.btn-group {
  display: block;
}

#split-button-pull-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#input-dropdown-addon {
  width: 7em;
  text-align: right;
}

.form-group {
  margin-bottom: 5px;
}

.day {
	margin-left: 30px;
}

.day label {
	font-size: 1.2em;
}

.disp-toggle {
	min-width: 4.5em;
}

.add-result,
.del-result {
	min-width: 20px;
	min-height: 20px;
}
